
:root
    .ant-tree
        li
            span.ant-tree-switcher.ant-tree-roots_close,
            span.ant-tree-switcher.ant-tree-center_close,
            span.ant-tree-switcher.ant-tree-bottom_close,
            span.ant-tree-switcher.ant-tree-noline_close,
            span.ant-tree-switcher.ant-tree-roots_open,
            span.ant-tree-switcher.ant-tree-center_open,
            span.ant-tree-switcher.ant-tree-bottom_open,
            span.ant-tree-switcher.ant-tree-noline_open
                &:after
                    font-size: 14px
                    right: 0

.card-container
    text-align: center

    .ant-tree
        font-size: 14px
        li
            span.ant-tree-switcher,
            span.ant-tree-iconEle
                width: 10px
                height: 14px

    .ant-card
        display: inline-block;
        margin: 10px
        vertical-align: top
        text-align: left


    .ant-card-body
        padding: 10px 24px 24px 24px

        h3
            font-weight: bold
            max-width: 232px

    .ant-collapse-content
        p
            cursor: pointer
            padding-bottom: 15px
            &.unable
                cursor: not-allowed
                color: #ccc

            span
                float: right
                color: #aaa



