.ant-card
    display: inline-block;
    margin: 10px
    vertical-align: top
    text-align: left


.ant-card-body
    padding: 10px 24px 24px 24px

    h3
        font-weight: bold


    // p {
    //     padding-top: 10px
    // }

    // a {
    //     float: right
    //     cursor: pointer
    // }


.card-container
    text-align: center


.ant-collapse-content
    p
        cursor: pointer
        padding-bottom: 15px
        &.unable
            cursor: not-allowed
            color: #ccc

        span
            float: right
            color: #aaa



