.ant-card {
    display: inline-block;
    margin: 10px
    vertical-align: top
    text-align: left
}

.ant-card-body {
    padding: 10px 24px 24px 24px

    h3 {
        font-weight: bold
    }

    p {
        padding-top: 10px
    }

    span {
        float: right
        cursor: pointer
    }
}

.card-container {
    text-align: center
}