
@require './font/iconfont.css'
@require './config'

initialize()

html,
body
    min-height: 100%
    -webkit-touch-callout: none
    -webkit-user-select: none

.app-wrapper
    background-color: #fff

.app-header
    height: 100px

.app-content
    min-height: 600px
    background-color: #fff

a,
a:link,
a:hover,
a:active,
a:focus
    text-decoration: none
