.nav {
    height: 100px
    border-bottom: 1px solid #ccc
}

.main
    position: absolute
    left: 0
    right: 0
    top: 100px
    bottom: 0

    .content {
        width: 980px
        margin: 0 auto
    }

    .left {
        position: absolute
        left: 0
        top:0
        bottom: 0
        width: 200px
    }

    .right {
        position: absolute
        right: 0
        top:0
        bottom: 0
        width: 340px
    }

    .center {
        position: absolute
        left: 200px
        right: 340px
        top:0
        bottom: 0
        border-left: 1px solid #ccc
        border-right: 1px solid #ccc
    }